.section{
    height: 100vh;
    
    background-color: var(--white);
    display: flex;
    align-items: center;
}

.item{
    min-height: 40rem;
    width: 33rem;
    padding: 40px;
}

.item img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.inner-carousel{
    display: flex;
}

.carousel{
    overflow: hidden;
}