.section {
  min-height: 100vh;
  z-index: 10;
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: none;
}

.main-text {
  width: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.main-text h1 {
  font-size: 5rem;
  max-width: 90%;
}

.main-text p {
  font-size: 1rem;
  max-width: 90%;
}

.square {
  width: 40vw;
  height: 40vw;
  border-radius: 5rem;
  opacity: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square iframe {
  width: 120%;
  height: 120%;

}

.button {
  padding: 0.7rem 2rem;
  font-size: 1.3rem;
  background-color: var(--green);
  border-radius: 3rem;
  color: var(--black);
  font-weight: 900;
  margin: 1rem;
}

.button:hover {
  background-color: var(--yellow);
}

@media (max-width: 1024px) {
  .section {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .main-text {
    display: flex;
    width: 95%;
    height: 40vh;
    justify-content: space-around;
    margin-top: 3rem;
  }

  .main-text h1 {
    font-size: 1.5rem;
  }

  .main-text p {
    font-size: 0.8rem;
  }

  .button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 800;
  }

  .square{
    min-height: 60vh;
    width: 90vw;
    margin: 2rem 0;
    border-radius: 1rem;
  }
  .square iframe{
    height: 135%;
    width: 135%;
  }
}
@media (max-width: 280px) {
    .main-text{
      margin-top: 8rem;
    }
}

