.search {
    width: 85%;
    height: var(--seach-height);
}

.search input {
    border: none;
    background-color: transparent;
    font: var(--font-style-normal) normal normal 20px/var(--line-spacing-1) var(--font-family-arial);
    letter-spacing: var(--character-spacing-0);
    text-align: left;
    font: normal normal normal 20px/1px Arial;
    letter-spacing: 0px;
    color: var(--gray);
    text-transform: capitalize;
    height: var(--seach-height);
    width: 100%;
}

.popOver {
    z-index: 10;
    border: none;
    background-color: var(--white);
}

.suggestionList {
    background-color: var(--white);
    color: var(--gray);
}



@media (max-device-width: 414px) {
    .search input {
        font-size: 1rem;
    }
}