.form {
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.label{
    font-size: 2rem;
    color: white;
    text-align: center;
}
.form input {
    height: 3rem;
    background-color: var(--gray);
    font-size: 1.2rem;
    border: none;
    border-radius: 1rem;
    padding-left: 0.5rem;
    width: 95%;
}

.err {
    color: rgb(255, 115, 115);
    margin: 1rem 0; 
}
.buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.buttons button{
    width: 45%;
}
.back {
    background-color: var(--gray);
}