.filter-menu {
    position: absolute;
    z-index: 10;
    left: 5rem;
    bottom: -11.5em;
    background-color: var(--white);
    background-blend-mode:color-burn;
    border-radius: 2rem;
    max-width: 80vw;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.2rem;

}

.filter-menu-img{
    position: relative;
    left: -7rem;

}
.filter-menu h1 {
    color: var(--gray);
    font-size: 1.5rem;
}

.filter-menu p {
    color: var(--gray);
    max-width: 80%;
    text-align: center;
    font-size: 1rem;
}

.filter-menu input {
    background-color: var(--gray);
    color: var(--white);
    border-radius: 1rem;
    text-align: center;
}

.checkbox input {
    height: 1rem;
    width: 1rem;
    outline: none;
    accent-color: var(--green);
}

.checkbox label {
    color: var(--gray);
}


.buttons {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.buttons button {
    width: 45%;
}

.img {
    width: 0.9rem;
    height: auto;
}

.filter-menu .from {
    width: 90%;
    text-align: left;
    background-color: var(--gray);
    padding: 1rem 0;
    color: var(--white);
    border-radius: 1rem;
    padding-left: 1rem;
    font-size: 1.2rem;
}
.slider{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}