.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--dark-green);
    min-height: 30vh;
    align-items: center;
}

.left{
    width: 50rem;
    color: white;
}
.left p{
    margin-top: 1.5rem;
}

.right{
    width: 50rem;
    color: white;
    line-height: 3rem;
}
.right input{
    width: 20rem;
    border: none;
    padding-left: 1rem;
}
.right form button{
    background-color: var(--green);
    color: var(--black);
    font-weight: 900;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    padding: 0.5 1rem;
    cursor:pointer;
}
.right form button:hover{
    background-color: var(--yellow);
}
.right form {
    display: flex;
    align-items: stretch;
    height: 3rem;
}

@media (max-width: 1024px) { 
    .footer{
        flex-direction: column;
        height: auto;
        padding: 1rem;
        justify-content: space-between;

    }
    .left{
        width: 45%;
        font-size: 0.5rem;
    }
    .left p, .left h1 .right h1, .right p{
        margin: 0.4rem;
    }
    .right{
        width: 45%;
        font-size: 0.5rem;
        line-height: 2rem;
    }
    .right input{
        width: 6rem;
        height: 1rem;
        font-size: 0.5rem;
    }
    .right form button{
        font-size: 0.5rem;
        font-weight: 700;
    }
    .right form {
        height: 1rem;
    }
    }


    @media (max-width: 280px) {
        .right{
          width: 50%;
        }
        .footer{
            overflow: hidden;
        }
    }

