.button {
    background-color: var(--green);
    border-radius: 3rem;
    color: var(--black);
    font-weight: 900;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.button:hover{
    background-color: var(--yellow);
}
.button:disabled{
    background-color: var(--dark-green);
    cursor: not-allowed;
}