.map-nav {
    width: 98%;
    max-width: 40rem;
    min-height: var(--seach-height);
    position: absolute;
    top: 2rem;
    left: 1rem;
    z-index: 10;
    background-color: var(--white);
    border-radius: 3rem;
    opacity: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    -webkit-box-shadow: 9px -16px 19px -9px rgba(0,0,0,0.32); 
    box-shadow: 9px -16px 19px -9px rgba(0,0,0,0.32);
}

.seach-menu {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 820px) {
    .map-nav {
        left: 0.2rem;
    }
}