:root {

  /* Colors: */
  --transpernet-wite: #F1F1F1B3;
  --white: #313131;
  --black: #1a1a1ad8;
  --gray: #cfcece;
  --green: #38D5BC;
  --yellow: #f7ff64;
  --light-green: #5BF895;
  --dark-green: #368282;

  /* Font/text values */
  --font-family-arial: Arial;
  --font-style-normal: normal;
  --font-weight-bold: bold;
  --font-size-25: 25px;
  --font-size-35: 35px;
  --character-spacing-0: 0px;
  --line-spacing-1: 1px;
  --line-spacing-40: 40px;
  --text-transform-uppercase: uppercase;
  --seach-height: 3.5rem;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}
html{
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea:focus,
input:focus {
  outline: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--green);
}

@media (max-device-width: 414px) {
  h2, h1{
    font-size: 0.5rem;
    
  }
}