.compass {
    position: absolute;
    z-index: 10;
    right: 1rem;
    top: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 9px -16px 19px -9px rgba(0,0,0,0.32); 
    box-shadow: 9px -16px 19px -9px rgba(0,0,0,0.32);
}

.compass img {
    width: 60%;
    height: auto;
}

@media (max-device-width: 414px) {
    .compass {
        right: 0.2rem;
        width: 3rem;
        height: 3rem;
        top: 2.25rem;
    }
}