.compass {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 9px -16px 19px -9px rgba(0,0,0,0.32); 
    box-shadow: 9px -16px 19px -9px rgba(0,0,0,0.32);
}

.compass img {
    width: 60%;
    height: auto;
}
